@{
    int i = 1;
}
<br />
<h4>Таблица автопарков</h4>

<p><span style="font-weight: bold;color: green">Help! </span>Вывод данных таблицы со значениями таблиц на которые они ссылаются</p>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Адрес</th>
            <th>Размер парковки</th>
            <th>Название школы</th>
            <th>Адрес школы</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Result)
        {
            <tr>
                <td><p>@i</p></td>
                <td><p>@item.AddressAvtoPark</p></td>
                <td><p>@item.ParkSize</p></td>
                <td><p>@item.Name</p></td>
                <td><p>@item.AddressSchool </p></td>
            </tr>
            i++;
        }
    </tbody>
</table>
