@{
    int i = 1;
}
<br />
<h4>Таблица другого персонала</h4>
<p><span style="font-weight: bold;color: green">Help! </span>Вывод данных таблицы со значениями таблиц на которые они ссылаются</p>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Дата устройства</th>
            <th>Специализация</th>
            <th>Стаж</th>
            <th>Должность</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Result)
        {
            <tr>
                <td><p>@i</p></td>
                <td><p>@item.FIO</p></td>
                <td><p>@item.DateOfEmployee</p></td>
                <td><p>@item.Specialization</p></td>
                <td><p>@item.ExperienceYear</p></td>
                <td><p>@item.PositionName</p></td>
            </tr>
            i++;
        }
    </tbody>
</table>
